<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.keykat.keykat.brawlkat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.setting.activity.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/PreferenceScreen" />
        <activity
            android:name=".load.activity.kat_LoadBeforeMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.activity.kat_Player_MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.activity.kat_Player_RecentSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.result.player.activity.kat_Player_PlayerDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.result.club.activity.kat_Player_ClubDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.result.player.activity.kat_Player_PlayerBattleLogDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.kat_SearchAccountForSaveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.ranking.activity.kat_CountrySelectionPopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".home.ranking.activity.kat_BrawlerSelectionPopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".home.setting.activity.ServiceSummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.setting.activity.PolicySummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.setting.activity.DeveloperSummaryActivity"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5909086836185335~3154086269" />

        <receiver android:name=".service.util.kat_ButtonBroadcastReceiver">
            <intent-filter android:priority="10000">
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </receiver>

        <!--        <receiver android:name=".service.util.kat_ActionBroadcastReceiver">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.SCREEN_ON" />-->
        <!--                <action android:name="android.intent.action.SCREEN_OFF" />-->
        <!--                <action android:name="com.example.brawlkat.kat_Service_BrawlStarsNotifActivity.CHECK_START" />-->
        <!--                <action android:name="com.example.brawlkat.kat_Service_BrawlStarsNotifActivity.CHECK_END" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->
        <service android:name=".service.maprecommendservice.ui.kat_Service_OverdrawService" />

        <service android:name=".service.systembarservice.kat_Service_BrawlStarsNotificationActivity" />
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
<!--        <service-->
<!--            android:name=".service.util.kat_onTaskRemovedService"-->
<!--            android:stopWithTask="false" />-->
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>