<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.keykat.keykat.brawlkat">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.keykat.keykat.brawlkat.load.activity.kat_LoadBeforeMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.keykat.keykat.brawlkat.home.activity.kat_Player_MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.keykat.keykat.brawlkat.search.activity.kat_Player_RecentSearchActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".search.result.player.activity.kat_Player_PlayerDetailActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".search.result.club.activity.kat_Player_ClubDetailActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".search.result.player.activity.kat_Player_PlayerBattleLogDetailActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.keykat.keykat.brawlkat.home.activity.kat_SearchAccountForSaveActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.keykat.keykat.brawlkat.home.ranking.activity.kat_CountrySelectionPopUpActivity" android:theme="@style/Theme.AppCompat.Dialog" android:screenOrientation="portrait"></activity>
        <activity android:name="com.keykat.keykat.brawlkat.home.ranking.activity.kat_BrawlerSelectionPopUpActivity" android:theme="@style/Theme.AppCompat.Dialog" android:screenOrientation="portrait"></activity>


        <service android:name="com.keykat.keykat.brawlkat.service.activity.kat_Service_OverdrawActivity"></service>
        <service android:name="com.keykat.keykat.brawlkat.service.activity.kat_Service_BrawlStarsNotifActivity"></service>
        <service android:name="com.keykat.keykat.brawlkat.service.util.kat_onTaskRemovedService"
            android:stopWithTask="false" ></service>

        <receiver android:name="com.keykat.keykat.brawlkat.service.util.kat_ButtonBroadcastReceiver">
            <intent-filter android:priority="10000">
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.keykat.keykat.brawlkat.service.util.kat_ActionBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="com.example.brawlkat.kat_Service_BrawlStarsNotifActivity.CHECK_START"/>
                <action android:name="com.example.brawlkat.kat_Service_BrawlStarsNotifActivity.CHECK_END"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5909086836185335~3154086269"/>

    </application>

</manifest>